@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.features{
padding:80px 20px;
text-align:center;
}

.feature-title{
font-size:32px;
margin-bottom:40px;
}

.feature-grid{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
width:250px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.3s;
}

.card h3{
margin-top:15px;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}